html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 400; }

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

*, *:before, *:after {
  box-sizing: border-box; }

.grid {
  width: 100%; }

.row {
  margin-bottom: 1em; }

.row:last-child {
  margin-bottom: 0; }

.grid, .row, [class*="-col"] {
  padding: 0;
  margin: 0; }

.grid:after, .row:after {
  content: "";
  display: table;
  clear: both; }

[class*="-col"] {
  float: left;
  margin-left: 0.3%;
  margin-right: 0.3%; }

[class*="-col"]:last-child {
  margin-right: 0; }

.twelve-col {
  width: 100%; }

.eleven-col {
  width: 91.62%; }

.ten-col {
  width: 83.25%; }

.nine-col {
  width: 74.87%; }

.eight-col {
  width: 66.5%; }

.seven-col {
  width: 58.12%; }

.six-col {
  width: 49.75%; }

.five-col {
  width: 41.37%; }

.four-col {
  width: 33%; }

.three-col {
  width: 24.4%; }

.two-col {
  width: 16.25%; }

.one-col {
  width: 7.875%; }

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; } }
@media only screen and (max-width: 480px) {
  .span_12_of_12, .span_11_of_12, .span_10_of_12, .span_9_of_12, .span_8_of_12, .span_7_of_12, .span_6_of_12, .span_5_of_12, .span_4_of_12, .span_3_of_12, .span_2_of_12, .span_1_of_12 {
    width: 100%; } }
.container {
  width: 1196px;
  margin: 0 auto; }

body {
  color: #fff;
  background-color: #000; }

header {
  z-index: 5;
  position: fixed;
  width: 100%;
  margin-bottom: 0;
  padding-top: 45px;
  padding-bottom: 1px;
  text-align: center;
  background-color: #000; }
  header .container {
    border-bottom: 1px solid #fff; }
  header h1 {
    font-size: 2em;
    line-height: 2;
    text-transform: uppercase; }
  header nav li {
    display: inline-block;
    margin: 0 12px;
    margin-bottom: 10px;
    font-size: 0.9em;
    text-transform: uppercase; }
    header nav li a {
      color: #fff;
      text-decoration: none; }
      header nav li a:hover {
        color: #a8f285; }

main {
  width: 100%;
  z-index: 1;
  margin-top: 0;
  padding-top: 150px; }

/*# sourceMappingURL=style.css.map */
