@import 'partials/resets'
@import 'partials/typography'
@import 'partials/grid'
@import 'partials/general'


@import 'pieces/header'
@import 'pieces/main'
@import 'pieces/footer'

header
    z-index: 5
    position: fixed
    width: 100%
    padding-top: 6px
    padding-bottom: 1px
    background-color: #000
    .container
        border-bottom: 2px solid rgba(255, 255, 255, 0.8)

    h1
        font-size: 2em
        line-height: 2
        letter-spacing: 2px
        text-transform: uppercase
        color: #fff
        margin-left: 10px
        margin-bottom: 6px

    nav
        li
            display: inline-block
            margin-bottom: 10px
            font-size: 1em
            letter-spacing: 2px
            text-transform: uppercase
            margin-left: 40px
            &:first-child
                margin-left: 10px
            a
                color: #fff
                text-decoration: none
                &:hover
                    color: #a8f285 // lgreen

        .right-menu
            margin-top: 56px
            .find-by
                text-transform: uppercase
                text-align: right
                font-size: 0.9em
                letter-spacing: 1px
                margin-right: 0
                color: #a8f285

            ul
                margin-top: 4px
                text-align: right
                li
                    font-size: 0.9em
                    letter-spacing: 1.6px
