html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 400; }

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

.grid {
  width: 100%; }

.row {
  margin-bottom: 1em; }

.row:last-child {
  margin-bottom: 0; }

.grid, .row, [class*="-col"] {
  padding: 0;
  margin: 0; }

.grid:after, .row:after {
  content: "";
  display: table;
  clear: both; }

[class*="-col"] {
  float: left;
  margin-left: 0.31%;
  margin-right: 0.31%; }

[class*="-col"]:last-child {
  margin-right: 0; }

.twelve-col {
  width: 100%; }

.eleven-col {
  width: 91.62%; }

.ten-col {
  width: 83.25%; }

.nine-col {
  width: 74.87%; }

.eight-col {
  width: 66.5%; }

.seven-col {
  width: 58.12%; }

.six-col {
  width: 49.75%; }

.five-col {
  width: 41.37%; }

.four-col {
  width: 33%; }

.three-col {
  width: 24.3%; }

.two-col {
  width: 16.25%; }

.one-col {
  width: 7.875%; }

*, *:before, *:after {
  box-sizing: border-box; }

.container {
  width: 1196px;
  margin: 0 auto;
  overflow: hidden; }

body {
  color: #fff;
  background-color: #000; }

a {
  color: #fff; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.facebook i {
  color: #3B5998; }

.twitter i {
  color: #4099FF; }

.email i {
  color: #f39c12; }

.facebook i:hover,
.twitter i:hover,
.email i:hover {
  color: #a8f285; }

.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); }

header {
  z-index: 5;
  position: fixed;
  width: 100%;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 1px;
  text-align: center;
  background-color: #000; }
  header .container {
    border-bottom: 1px solid #fff; }
  header h1 {
    font-size: 2em;
    line-height: 2;
    text-transform: uppercase; }
  header nav li {
    display: inline-block;
    margin: 0 15px;
    margin-bottom: 10px;
    font-size: 1em;
    text-transform: uppercase; }
    header nav li a {
      color: #fff;
      text-decoration: none; }
      header nav li a:hover {
        color: #a8f285; }

main {
  width: 100%;
  margin-top: 0;
  padding-top: 135px; }
  main .artwork-image {
    position: relative;
    padding: 2px 2.5px 1px 2.5px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 10px;
    border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
    main .artwork-image img {
      position: relative;
      border-radius: 3px;
      -ms-border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
    main .artwork-image .artwork-meta {
      position: absolute;
      bottom: 2.5px;
      background-color: rgba(255, 255, 255, 0.5);
      height: 36px;
      width: 286px;
      border-top: 2px solid rgba(255, 255, 255, 0.6);
      border-radius: 0px 0px 3px 3px;
      -ms-border-radius: 0px 0px 3px 3px;
      -moz-border-radius: 0px 0px 3px 3px;
      -webkit-border-radius: 0px 0px 3px 3px; }
  main .artwork-title, main .artwork-description {
    overflow: hidden;
    line-height: 1.4;
    padding: 3px 10px; }
  main .artwork-title {
    font-size: 1.6em;
    color: #000; }

footer {
  position: relative;
  margin: 20px 0;
  padding: 40px 0.3%;
  text-transform: uppercase; }
  footer .container {
    border-top: 1px solid #fff; }
  footer .right {
    float: right;
    text-align: right;
    padding-top: 70px;
    font-size: 0.85em; }
  footer h3, footer .copywright {
    color: #bbb; }
  footer a {
    text-decoration: none;
    color: #fff; }
  footer .social i {
    margin: 12px; }
    footer .social i:last-child {
      margin-right: 0; }

/*# sourceMappingURL=style.css.map */
