@import 'partials/resets'
@import 'partials/typography'
@import 'partials/grid'
@import 'partials/general'


@import 'pieces/header'
@import 'pieces/main'
@import 'pieces/footer'

main
    width: 100%
    margin-top: 0
    padding-top: 135px

    .artwork-image
        position: relative
        padding: 2px 2.5px 1px 2.5px
        background-color: #000
        margin-bottom: 50px
        border-radius: 3px
        -ms-border-radius: 3px
        -moz-border-radius: 3px
        -webkit-border-radius: 3px
        img
            position: relative
            border-radius: 3px
            -ms-border-radius: 3px
            -moz-border-radius: 3px
            -webkit-border-radius: 3px

        .artwork-meta
            position: absolute
            bottom: -28px
            background-color: #ddd
            color: #fff
            height: 32px
            width: 286px
            border-top: 2px solid #bbb
            border-radius: 0px 0px 3px 3px
            -ms-border-radius: 0px 0px 3px 3px
            -moz-border-radius: 0px 0px 3px 3px
            -webkit-border-radius: 0px 0px 3px 3px

    .artwork-title, .artwork-description
        overflow: hidden
        line-height: 1.4
        padding: 1px 8px

    .artwork-description
        font-size: 0.9em
        display: none
        color: #222
        font-weight: 300

    .artwork-title
        font-size: 1.2em
        color: #000
        font-weight: 400
