header
    // z-index: 5
    position: fixed
    width: 100%
    margin-bottom: 0
    padding-top: 30px
    padding-bottom: 1px
    text-align: center
    background-color: #000
    .container
        border-bottom: 1px solid #fff

    h1
        font-size: 2em
        line-height: 2
        text-transform: uppercase

    nav
        li
            display: inline-block
            margin: 0 15px
            margin-bottom: 10px
            font-size: 1em
            text-transform: uppercase
            a
                color: #fff
                text-decoration: none
                &:hover
                    color: #a8f285